body {
	font-family: "Lucida Grande", Arial, Helvetica, Verdana, sans-serif;
	color:#666;
	background: #9BC;
}

footer{
	color:#999;
	font-size: small;
	text-align: center;
}

h2{
	color:white;
}

h3{
	text-shadow: #DDDDDD 1px 1px 1px;
}

a {
	text-decoration: none;
}

a:HOVER {
	text-decoration: underline;
}

img {
	float:right;
	max-height:200px;
	/*max-width:100px;*/
	margin:10px;
	width:100px;
}

ul{
	width:500px;
}

li.movie{
	min-height:200px;
	border-radius: 15px;
	border: 3px solid #9AB;
	background-color: white;
	padding:10px;
	margin: 3px;
	list-style: none;
}

span.votes{
	color:#CCC;
}

.rating09{
	color:#0D0;
}

.rating08{
	color:#0D0;
}

.rating07{
	color:#4F0;
}

.rating06{
	color:#CF0;
}

.rating05{
	color:#F70;
}

.rating04{
	color:#F30;
}

.rating03{
	color:#F30;
}

.rating02{
	color:#F00;
}

.rating01{
	color:#F00;
}

.rating00{
	color:#DDD;
}