@gray-blue: #505D6B;

body{
	font-family: sans-serif;
}

li{
	margin-bottom:10px;
	height:60px;
	marks: none;
	list-style: none;
}

a {
	text-decoration: none;
}

small{
	color: @gray-blue;
}

.year{
	color: @gray-blue;
}

img.poster{
	float:left;
	max-width:60px;
	max-height:60px;
	margin-right:20px;
}

footer{
	text-align: center;
	font-size: x-small;
	margin: 3em;
}