#{extends 'main.html' /}
#{set title:'Movies for 8 days starting at ' + day.format('EEEE dd MMMM yyyy') /}

<a href="@{Application.date(day)}">DAY</a>
<h2>Next 8 days on Belgian TV</h2>

<ul>
#{list items:movies, as:'movie'}
	<li class="movie">
		#{if movie.tmdb && movie.tmdb.posters && movie.tmdb.posters[0]}
		<a href="${movie.tmdb.url}"><img src="${movie.tmdb.posters[0].image.url}" alt="${movie.tmdb.name}" class="poster"/></a>
		#{/if}
		<h3>${movie.title} #{if movie.year}<span>(${movie.year})</span>#{/if}</h3>
		${movie.start.format('HH:mm')} @ ${movie.channel}
		<a href="${movie.url}"><img class="tv" src="@{'/public/images/telenet-logo.png'}" alt="telenet"/></a>
		<img class="tv" src="@{'/public/images/belgacom_tv-logo.png'}" alt="belgacom" title="not yet"/><br/>
		#{if movie.imdb}
			<a href="${movie.imdb.url}">IMDB</a> rating: <span class="rating${movie.imdb.decimalRating.format('00')}">${movie.imdb.percentRating}/100</span>
			<span class="votes">(${movie.imdb.votes} votes)</span><br/>
		#{/if}
		#{if movie.tmdb}
			<a href="${movie.tmdb.url}">TMDB</a> rating: <span class="rating${movie.tmdb.decimalRating.format('00')}">${movie.tmdb.percentRating}/100</span>
			<span class="votes">(${movie.tmdb.votes} votes)</span><br/>
		#{/if}
		#{if movie.imdb}
			${movie.imdb.genre}<br/>
			<p>${movie?.imdb?.plot}</p>
		#{/if}
		#{if movie.tmdb}
			<p>${movie?.tmdb?.overview}</p>
		#{/if}
		<div class="warning">
		#{if movie.imdb}
			#{if movie.title.toLowerCase() != movie.imdb.title.toLowerCase()}
				Possible IMDB title mismatch: ${movie.imdb.title}<br/>
			#{/if}
			#{if movie.year != movie.imdb.year}
				Possible IMDB year mismatch: ${movie.imdb.year}<br/>
			#{/if}
		#{/if}
		#{if movie.tmdb}
			#{if movie.title.toLowerCase() != movie.tmdb.name.toLowerCase()}
				Possible TMDB title mismatch: ${movie.tmdb.name}<br/>
			#{/if}
			#{if movie.year != movie.tmdb.year}
				Possible TMDB year mismatch: ${movie.tmdb.year}<br/>
			#{/if}
		#{/if}
		</div>
	</li>
#{/list}
</ul>