@(infos:List[models.helper.BroadcastInfo])(implicit flash:Flash)

@main("BelgianTV") {
  
  
<h1>Movies on Belgian TV for the coming 7 days ordered by ratings</h1>

<p>Click on the Telenet Yelo &amp; Belgacom TV links to program your digicorder</p>
    
  @if(!flash.isEmpty){
    <div class="info">@flash.get("message")</div>
  }

    <ul>
    @for(info <- infos){
    	<li><div class="poster">
	    		@info.broadcast.tmdbImg.map{ img => 
	    		    <img src="@img" alt="poster for @info.broadcast.name"/>
		    	}.getOrElse{
		    	  @info.movie.map{ m => 
		    		<img src="@m.imgUrl" alt="poster for @m.name"/>
		    	  }
		    	}
	    	</div>
	    	@info.broadcast.name <span class="year">(@info.broadcast.year)</span> 
            @info.rating.map(_ + "%")

    		<br/>
    		<small>@info.broadcast.channel @info.broadcast.humanDate()
    		<a href="@info.broadcast.humoUrl">Humo</a>
            @info.movie.map{ m =>
            <a href="@m.imdbUrl()">IMDb @m.imdbRating</a>
            }
    		@info.broadcast.tmdbUrl.map{ u => 
    		<a href="@u">TMDb @{info.broadcast.tmdbRating.getOrElse("")}</a>
    		}
    		@info.broadcast.tomatoesUrl.map{ u => 
    		<a href="@u">Tomatoes @{info.broadcast.tomatoesRating.get}%</a>
    		}
    		</small>
    		<br/>
    		@info.broadcast.yeloUrl.map{ y => 
    		<a href="@y"><img src="@routes.Assets.at("images/telenet-logo.png")" alt="Movie on Telenet Yelo"/></a>
    		}
    		@info.broadcast.belgacomUrl.map{ b => 
    		<a href="@b"><img src="@routes.Assets.at("images/belgacom_tv-logo.png")" alt="Movie on Belgacom TV"/></a>
    		}
    		
    	</li>
    }
    </ul>
    
    
  <footer>
			Developed by <a href="http://www.twitter.com/somatik">@@somatik</a>
			using <a href="http://www.playframework.com">play!</a>, 
			source hosted at <a href="https://github.com/francisdb/belgiantv">github</a>,
			data mostly from <a href="http://www.themoviedb.org/">themoviedb</a>
    		and  <a href="http://www.omdbapi.com/">The OMDb API</a> &#149; <a href="@routes.Application.scan">force rescan</a>
  </footer>
}