@(infos:List[models.helper.BroadcastInfo])(implicit flash:Flash)

@main("BelgianTV") {
  
  
<h1>Movies on Belgian TV for the coming 7 days ordered by IMDB score</h1>

<p>Click on the Yelo links to program your telenet digicorder</p>
    
  @if(!flash.isEmpty){
    <div class="info">@flash.get("message")</div>
  }

    <ul>
    @for(info <- infos){
    	<li>@info.broadcast.name <span class="year">(@info.broadcast.year)</span> 
    		@info.movie.map{ m => 
    		  <a href="@m.imdbUrl">@m.imdbRating</a>
    		  @info.broadcast.tmdbImg.map{ t => 
    		    <img src="@t" alt="poster for m.name" class="poster"/>
	    	  }.getOrElse{
	    		<img src="@m.imgUrl" alt="poster for m.name" class="poster"/>
	    	  }
    		}<br/>
    		<small>@info.broadcast.channel @info.broadcast.humanDate 
    		<a href="@info.broadcast.humoUrl">Humo</a>
    		@info.broadcast.yeloUrl.map{ y => 
    		<a href="@y">Yelo</a>
    		}
    		@info.broadcast.tmdbUrl.map{ t => 
    		<a href="@t">TMDb</a>
    		}
    		</small>
    	</li>
    }
    </ul>
    
    
<footer>
			Developed by <a href="http://www.twitter.com/somatik">@@somatik</a>
			using <a href="http://www.playframework.com">play!</a>, 
			source hosted at <a href="https://github.com/francisdb/belgiantv">github</a>,
			data mostly from <a href="http://www.themoviedb.org/">themoviedb</a>
    		and  <a href="http://imdbapi.com/">The IMDb API</a> &#149; <a href="@routes.Application.scan">force rescan</a>
</footer>
}