@(infos:List[models.helper.BroadcastInfo])(implicit flash:Flash, webJarsUtil: org.webjars.play.WebJarsUtil)

@import util.Css._

@main("BelgianTV") {

    <div class="jumbotron">
        <h1>Movies on Belgian TV</h1>
        <p class="lead">For the coming 7 days ordered by ratings. Click on the Telenet Yelo &amp; Proximus TV links to program your digicorder.</p>
    </div>

    @if(!flash.isEmpty){
        <div class="info">@flash.get("message")</div>
    }

    @for(info <- infos){
        <div class="row">
            <div class="col-xs-3">
                <div class="thumbnail">
                    @info.broadcast.tmdbImg.map{ img =>
                        <img src="@img" alt="poster for @info.broadcast.name"/>
                    }.getOrElse{
                        @info.movie.map{ m =>
                            <img src="@m.imgUrl" alt="poster for @m.name"/>
                        }
                    }
                </div>
            </div>
            <div class="col-xs-9 info">
                <h2>
                    @info.broadcast.name
                    <small>
                        @info.broadcast.year
                        @info.broadcast.yeloUrl.map{ y =>
                            <a href="@y" target="_blank">
                                <img src="@routes.Assets.at("images/telenet-logo-large.png")" class="logo" alt="Movie on Telenet Yelo"/>
                            </a>
                        }
                        @info.broadcast.belgacomUrl.map{ b =>
                            <a href="@b" target="_blank">
                                <img src="@routes.Assets.at("images/belgacom_tv-logo-large.png")" class="logo" alt="Movie on Belgacom TV"/>
                            </a>
                        }
                    </small>
                </h2>

                <div class="progress">
                    <div class="progress-bar progress-bar-striped @info.progressBarStyle" role="progressbar" aria-valuenow="@info.rating" aria-valuemin="0" aria-valuemax="100" style="width: @info.rating.map(_ + "%");">
                        @info.rating.map(_ + "%")
                    </div>
                </div>


                <p>@info.broadcast.channel @info.broadcast.humanDate()</p>
                <ul>
                    <li><a href="@info.broadcast.humoUrl">Humo</a></li>
                @info.movie.map{ m =>
                    <li><a href="@m.imdbUrl">IMDb @m.imdbRating</a></li>
                }
                @info.broadcast.tmdbUrl.map{ u =>
                    <li><a href="@u">TMDb @{info.broadcast.tmdbRating.getOrElse("")}</a></li>
                }
                @info.broadcast.tomatoesUrl.map{ u =>
                    <li><a href="@u">Tomatoes @{info.broadcast.tomatoesRating.map(_ + "%")}</a></li>
                }
                    @info.broadcast.traktUrl.map{ u =>
                        <li><a href="@u">Trakt @{info.broadcast.traktRating.map(rating => f"$rating%1.1f").getOrElse("")}</a></li>
                    }
                </ul>
                <p>

                </p>
            </div>
        </div>
    }
    
}
