<!DOCTYPE html>

<html>
    <head>
        <title>#{get 'title' /}</title>
        <meta charset="${_response_encoding}">
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/main.css'}">
        #{get 'moreStyles' /}
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
        <script src="@{'/public/javascripts/jquery-1.5.2.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        #{get 'moreScripts' /}
    </head>
    <body>
        #{doLayout /}
        
        <ul>
	        <li><a href="@{Trigger.imdb}">Trigger IMDB</a></li>
	        <li><a href="@{Trigger.yelo}">Trigger Yelo</a></li>
        </ul>
        <footer>
			Developed by <a href="http://www.twitter.com/somatik">@somatik</a> using <a href="http://www.playframework.com">play!</a>, source hosted at <a href="https://github.com/francisdb/belgiantv">github</a>.
		</footer>
    </body>
</html>
