@(title: String)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        @*<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">*@
        @*<link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">*@
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.ico")">
        <script src="@routes.Assets.at("javascripts/jquery-1.7.1.min.js")" type="text/javascript"></script>

		<link type="text/css" rel="stylesheet" href="@routes.Assets.at("stylesheets/belgiantv.css")">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5">
    </head>
    <body>


<a href="https://github.com/francisdb/belgiantv"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png" alt="Fork me on GitHub"></a>


        @content
    </body>
</html>
