<!DOCTYPE html>

<html>
    <head>
        <title>#{get 'title' /}</title>
        <meta charset="${_response_encoding}">
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/main.css'}">
        #{get 'moreStyles' /}
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
        <script src="@{'/public/javascripts/jquery-1.5.2.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        #{get 'moreScripts' /}
    </head>
    <body>
		#{ifErrors}
		   <h1>Oops...</h1>
		   #{errors}
		       <li>${error}</li>
		   #{/errors}
		#{/ifErrors}
		#{if flash.success}
			<p style="color:green">${flash.success}</p>
		#{/if}
    
        #{doLayout /}
        
        <ul>
			<li><a href="@{Trigger.yelo}">Trigger Yelo</a></li>
			<li><a href="@{Trigger.imdb}">Trigger IMDB</a></li>
			<li><a href="@{Trigger.tmdb}">Trigger TMDB</a></li>
        </ul>
        <a href="https://github.com/francisdb/belgiantv"><img style="position: absolute; top: 0; right: 0; border: 0; margin:0; width: auto;" src="https://a248.e.akamai.net/assets.github.com/img/e6bef7a091f5f3138b8cd40bc3e114258dd68ddf/687474703a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f7265645f6161303030302e706e67" alt="Fork me on GitHub"></a>
        <footer>
			Developed by <a href="http://www.twitter.com/somatik">@somatik</a> using <a href="http://www.playframework.com">play!</a>, source hosted at <a href="https://github.com/francisdb/belgiantv">github</a>.
		</footer>
    </body>
</html>
